.select-custom {
    height: 2rem;
    width: 9rem;
    font-size: 0.8rem !important ;
    background: #f9f9fb;
    border-color: #f7f6fa;
    border-radius: 5px;
    text-align: center;
    border: .1px;
  }